{% extends "base/main.html" %}

{% block title %}profile-{{title}}{% endblock title %}


{% block style %}
<style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }
</style>
{% endblock style %}

{% block main %}
<main class="mt-5 pt-4">
    <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Profile</h2>

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your Profile</span>
                </h4>
                <!-- Cart -->
                {% include "components/profile/_slide.html" %}
                <!-- Cart -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                {% include 'components/profile/_Card.html'  with orders=orders %}
            </div>
            <!--Grid column-->


        </div>
        <!--Grid row-->

    </div>
</main>
{% endblock main %}

{% block scripts %}
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
{% endblock scripts %}