{% extends "base/main.html" %}

{% block title %}profile-{{title}}{% endblock title %}


{% block style %}
<style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }
</style>
{% endblock style %}

{% block main %}
<main class="mt-5 pt-4">
    <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Profile</h2>

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your Profile</span>
                </h4>
                <!-- Cart -->
                {% include "components/profile/_slide.html" %}
                <!-- Cart -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                <div class="card">

                    <!--Card content-->
                    <form class="card-body" method="POST">
                        {% csrf_token %}

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--firstName-->
                                <div class="md-form ">
                                    <label for="{{form.first_name.id_for_label}}" class="">First Name</label>
                                    {{ form.first_name }}
                                </div>
                                {% for error in form.first_name.errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--lastName-->
                                <div class="md-form">
                                    <label for="form.last_name.id_for_label" class="">Last Name</label>
                                    {{form.last_name}}
                                </div>
                                {% for error in form.last_name.errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--firstName-->
                                <div class="md-form ">
                                    <label for="{{form.email.id_for_label}}" class="">Email</label>
                                    {{ form.email }}
                                </div>
                                {% for error in form.email.errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--lastName-->
                                <div class="md-form">
                                    <label for="{{form.Phone_number.id_for_label}}" class="">Phone</label>
                                    {{form.Phone_number}}
                                </div>
                                {% for error in form.Phone_number.errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}

                            </div>
                            <!--Grid column-->

                        </div>

                        <button class="btn btn-primary btn-lg btn-block waves-effect waves-light" type="submit">Continue
                            to checkout</button>
                    </form>

                </div>
            </div>
            <!--Grid column-->


        </div>
        <!--Grid row-->

    </div>
</main>
{% endblock main %}

{% block scripts %}
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
{% endblock scripts %}