{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    {% include "components/load-static/css.html" %}
    {% block style %}
    {% endblock style %}
</head>

<body>
    {% include "components/Header/_nav.html" %}
    {% block main %}

    {% endblock main %}
    {% block scripts %}

    {% endblock scripts %}
    {% include 'components/Footer/_footer.html' %}
    {% include "components/load-static/js.html" %}
</body>

</html>