<!-- Heading -->
<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your Order's</span>
    <span class="badge badge-secondary badge-pill">{{orders.products.all.count}}</span>
</h4>

<!-- Cart -->
<ul class="list-group mb-3 z-depth-1">
    {% for item in orders.products.all %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <h6 class="my-0">{{item.product.title}}</h6>
            <small class="text-muted">count: {{item.quantity}}</small>
        </div>
        {% if item.get_total_discount_product_price %}
        <span class="text-muted text-danger">offer: -${{item.get_total_discount_product_price}}</span>
        {% endif %}
        <span class="text-muted">${{item.get_final_price}}</span>
        <span class="text-muted"><a class="btn btn-danger btn-sm"
                href="{% url 'order:DeleteOrderProduct' item.id %}">remove</a></span>
    </li>
    {% endfor %}

    <li class="list-group-item d-flex justify-content-between">
        <span>Total (USD)</span>
        <strong>${{orders.get_total}}</strong>
    </li>
</ul>
<!-- Cart -->

<!-- Promo code -->
<div class="card p-2">
    <div class="input-group">
        <a class="btn btn-block btn-secondary btn-md waves-effect m-12" type="button">Pay</a>
    </div>

</div>
<!-- Promo code -->