{% url 'profile:dashboard'  as dashboard %}
{% url 'profile:All-Address' as all_address %}
{% url "profile:Update-Info" as update_info %}

<div class="list-group">
    {% if request.path == dashboard %}
    <a href="{{dashboard}}" class="list-group-item list-group-item-action active">
        Detail Order
    </a>
    {% else %}
    <a href="{{dashboard}}" class="list-group-item list-group-item-action">
        Detail Order
    </a>
    {% endif %}

    {% if request.path == all_address %}
    <a href="{{all_address}}" class="list-group-item list-group-item-action active">
        My Addresses
    </a>
    {% else %}
    <a href="{{all_address}}" class="list-group-item list-group-item-action">
        Add Address Or Change To Default
    </a>
    {% endif %}

    {% if request.path == update_info %}
    <a href="{{update_info}}" class="list-group-item list-group-item-action active">
        Update My Information
    </a>
    {% else %}
    <a href="{{update_info}}" class="list-group-item list-group-item-action">
        Update My Information
    </a>
    {% endif %}


    <!-- <a href="#" class="list-group-item list-group-item-action">
        Change Password
    </a> -->

</div>