<!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
        <img class="card-img-top" src="{{product.get_poster}}" alt="Card image cap">
        <a href="{{product.get_absolute_url}}">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

        <p class="mb-1"><a href="{{product.get_absolute_url}}"
                class="font-weight-bold black-text">{{product.title|title}}</a>
        </p>

        <p class="mb-1"><small class="mr-1"><s>$299</s></small><strong>${{product.price}}</strong></p>

        <div class="amber-text fa-xs mb-1">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>

        <a href='{{product.get_absolute_url}}' class="btn btn-black btn-rounded btn-sm px-3">Buy Now</a>
    </div>

</div>
<!-- Card -->