{% comment %}
<div class="row">
    <div class="col-3">
        <div class="view overlay rounded gallery-item hoverable">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" class="img-fluid">
            <div class="mask rgba-white-slight"></div>
        </div>
    </div>
    <div class="col-3">
        <div class="view overlay rounded gallery-item hoverable">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg" class="img-fluid">
            <div class="mask rgba-white-slight"></div>
        </div>
    </div>
    <div class="col-3">
        <div class="view overlay rounded gallery-item hoverable">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg" class="img-fluid">
            <div class="mask rgba-white-slight"></div>
        </div>
    </div>
    <div class="col-3">
        <div class="view overlay rounded gallery-item hoverable">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg" class="img-fluid">
            <div class="mask rgba-white-slight"></div>
        </div>
    </div>
</div>
{% endcomment %}
<div class="container">
    <div id="carouselGallery" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselGallery" data-slide-to="0" class="active bg-info"></li>
            <li data-target="#carouselGallery" data-slide-to="1" class="bg-info"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row p-2">
                    <div class="col-3">
                        <div class="view overlay rounded gallery-item hoverable">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                                class="img-fluid">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row p-2">
                    <div class="col-3">
                        <div class="view overlay rounded gallery-item hoverable">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                                class="img-fluid">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselGallery" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-info" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselGallery" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-info" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>