<nav class="d-flex justify-content-center wow fadeIn">
    <ul class="pagination pg-blue">

        <li class="page-item {{ products.has_previous|yesno:' ,disabled' }}">

            {% if products.has_previous %}
            <a class="page-link" href="{% url 'product:ProductList' products.previous_page_number %}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            {% else %}
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            {% endif %}

        </li>
        {% for i in products.paginator.page_range %}
        {% if products.number == i %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ i }}
                <span class="sr-only">(current)</span>
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{% url 'product:ProductList' i %}">{{ i }}</a>
        </li>

        {% endif %}
        {% endfor %}


        <li class="page-item {{ products.has_next|yesno:',disabled' }}">
            {% if products.has_next %}
            <a class="page-link" href="{% url 'product:ProductList' products.next_page_number %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            {% else %}
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            {% endif %}

        </li>

    </ul>
</nav>