{% load category_tag %}
{% get_categories as categories %}

<nav class="navbar navbar-expand-lg navbar-dark mdb-color dark mt-3 mb-5">

    <!-- Navbar brand -->
    <span class="navbar-brand">Top Categories:</span>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">

            {% if request.path == "/" %}
            <li class="nav-item active">
                <a class="nav-link" href="/">First page
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/">First page
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% endif %}

            {% for category in categories %}
            {% if request.path == category.get_absolute_url %}
            <li class="nav-item active">
                <a class="nav-link text" href="{{category.get_absolute_url}}">{{category.title}}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link text" href="{{category.get_absolute_url}}">{{category.title}}</a>
            </li>
            {% endif %}

            {% endfor %}

        </ul>

        <form class="form-inline" action="{% url 'product:SearchProduct' %}">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" name="search" value="{{request.GET.search}}" type="text"
                    placeholder="Search" aria-label="Search">
            </div>
        </form>
    </div>
</nav>