<!-- https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/shoes%20(6).jpg -->
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for count in counters %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}"
                class="{{forloop.first|yesno:'active, '}} bg-info"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">

            {% for objects in list_objects %}
            <div class="carousel-item {{forloop.first|yesno:'active, '}}">
                <div class="row p-2">
                    {% for obj in objects  %}
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">

                        <!-- Card -->
                        <div class="card">

                            <!-- Card image -->
                            <div class="view overlay">
                                <img class="card-img-top" src="{{obj.get_poster}}" alt="Card image cap">
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div class="card-body">

                                <p class="mb-1"><a href="" class="font-weight-bold black-text">{{obj.title}}</a>
                                </p>

                                <p class="mb-1"><small class="mr-1"><s>$299</s></small><strong>${{obj.price}}</strong>
                                </p>

                                <div class="amber-text fa-xs mb-1">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>

                                <a type="button" class="btn btn-black btn-rounded btn-sm px-3">Buy Now</a>
                                <a type="button"
                                    class="btn btn-outline-black btn-rounded btn-sm px-3 waves-effect">Details</a>

                            </div>

                        </div>
                        <!-- Card -->


                    </div>
                    {% endfor %}
                </div>
            </div>

            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bg-info" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon bg-info" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>