{% load category_tag %}
{% get_categories as categories %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
            <strong class="blue-text">Decode</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link waves-effect" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="#">All Category</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Top Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                        <a class="dropdown-item" href="{{category.get_absolute_url}}">{{category.title}}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">


                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link waves-effect">
                        <span class="badge red z-depth-1 mr-1"> 1 </span>
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a href="{% url 'profile:dashboard'  %}" class="nav-link border border-light rounded waves-effect">
                        <i class="fas fa-user mr-2"></i>Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account:Logout'  %}" class="nav-link border border-light rounded waves-effect">
                        <i class="fas fa-sign-out-alt mr-2"></i>Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item mr-2">
                    <a href="{% url 'account:SignUp'  %}" class="nav-link border border-light rounded waves-effect">
                        <i class="fas fa-user-plus mr-2"></i>Sign-Up
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'account:Login'  %}" class="nav-link border border-light rounded waves-effect">
                        <i class="fas fa-sign-in-alt mr-2"></i>Sign-In
                    </a>
                </li>
                {% endif %}
            </ul>

        </div>

    </div>
</nav>