{% load slider_list %}

{% get_slider as sliders %}

<div id="carousel-example-1z" class="carousel slide carousel-fade pt-4" data-ride="carousel">

    <ol class="carousel-indicators">
        {% for slide in sliders %}
        <li data-target="#carousel-example-1z" data-slide-to="{{forloop.counter}}"
            class="{{forloop.first|yesno:'active, '}}"></li>
        {% endfor %}

    </ol>

    <div class="carousel-inner" role="listbox">
        {% for slide in sliders %}
        <div class="carousel-item {{forloop.first|yesno:'active, '}}">
            <div class="view"
                style="background-image: url('{{slide.get_poster_url}}'); background-repeat: no-repeat; background-size: cover;">

                <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>{{slide.title}}</strong>
                        </h1>

                        <p>
                            <strong>{{slide.detail}}</strong>
                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>{{slide.description}}</strong>
                        </p>

                        <a target="_blank" href="{{slide.url}}" class="btn btn-outline-white btn-lg">
                            {{slide.title_url}}
                        </a>
                    </div>

                </div>

            </div>
        </div>
        {% endfor %}



    </div>

    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>