{% extends 'base/main.html' %}

{% block title %}{{title}}{% endblock title %}

{% block style %}
{% endblock style %}

{% block main %}
<main class="mt-5 p-5">
    <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <h2 class="my-5 h2 text-center">{{title}}</h2>
        <div class="row">
            <div class="col-lg-6 col-sm-12 mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="{{ form.UserName.id_for_label }}">User Name</label>
                        {{ form.UserName }}
                        {% for error in form.UserName.errors %}
                        <p class="text-danger">{{error}}</p>
                        {% endfor %}
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="{{form.Password.id_for_label}}">Password</label>
                        {{ form.Password }}
                        {% for error in form.Password.errors %}
                        <p class="text-danger">{{error}}</p>
                        {% endfor %}
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">

                        <div class="col">
                            <!-- Simple link -->
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </form>
            </div>
        </div>
    </div>

</main>

{% endblock main %}

{% block script %}
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
{% endblock script %}

<!-- Remember Me -->
<!-- <div class="col d-flex justify-content-center">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
        <label class="form-check-label" for="form1Example3"> Remember me </label>
    </div>
</div> -->