{% extends "base/main.html" %}


{% block title %}{{title}}{% endblock title %}


{% block style %}
<style type="text/css">
    html,
    body,
    header,
    .carousel {
        height: 60vh;
    }

    @media (max-width: 740px) {

        html,
        body,
        header,
        .carousel {
            height: 100vh;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {

        html,
        body,
        header,
        .carousel {
            height: 100vh;
        }
    }
</style>
{% endblock style %}


{% block main %}
{% include "components/Header/_slider.html" %}
<main>
    <div class="container">

        <!--Navbar-->
        {% include 'components/Body/_searchbox_nav.html' %}
        <!--/.Navbar-->

        <!--Section: Products v.3-->
        <section class="text-center mb-4">
            <div class="container-fluide">
                {% if products %}
                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-3 col-md-6 mb-4">
                        <!--Card-->
                        {% include 'components/Body/_card_style_2.html' with product=product %}
                        <!--Card-->
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Not Data</h4>
                    <p></p>
                    <p class="mb-0"></p>
                </div>
                {% endif %}

            </div>
        </section>
        <!--Section: Products v.3-->

        {% include 'components/Body/_pagination.html' with products=products %}

    </div>
</main>
{% endblock main %}

{% block script %}
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
{% endblock script %}