{% extends 'base/main.html' %}

{% block title %}{{title}}{% endblock title %}

{% block style %}
<style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }
</style>
{% endblock style %}
{% block main %}

<main class="mt-5 pt-4">
    <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Order Details</h2>

        <!--Grid row-->
        <div class="row">
            <!-- form -->

            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                {% include 'components/OrderDetail/My_Card.html'  with orders=orders %}
            </div>

        </div>
        <!--Grid row-->

    </div>
</main>

{% endblock main %}

{% block scripts %}
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
{% endblock scripts %}