{% extends "base/main.html" %}
{% load truncate_tag %}


{% block title %}{{product.title}}{% endblock title %}


{% block style %}
<style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }
</style>

{% endblock style %}


{% block main %}
<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="col-md-6 mb-4">
                <div class="col-12 md-0 p-0">
                    <img src="{{product.get_poster}}" class="img-fluid hover-zoom" alt="{{product.title}}">
                </div>
                {% if product.get_gallery %}
                <div class="col-12 pt-2">
                    {% include "components/Body/_gallery.html" %}
                </div>
                {% endif %}
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-4">

                    <div class="mb-3">
                        {% for category in product.category.all %}
                        <a href="">
                            <span class="badge purple mr-1">{{category.title}}</span>
                        </a>
                        {% endfor %}
                        <a href="">
                            <span class="badge blue mr-1">New</span>
                        </a>
                        <a href="">
                            <span class="badge red mr-1">Bestseller</span>
                        </a>
                    </div>

                    <p class="lead">
                        <span class="mr-1">
                            <del>$200</del>
                        </span>
                        <span>${{product.price}}</span>
                    </p>

                    <p class="lead font-weight-bold">{{product.title}}</p>

                    <p>{{product.description}}</p>

                    <form class="d-flex justify-content-left" action="{% url 'order:AddProduct' %}" method="POST">
                        {% csrf_token %}
                        {{form}}
                        <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="submit">Add to cart
                            <i class="fas fa-shopping-cart ml-1"></i>
                        </button>

                    </form>

                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
        <hr>
        {% if product.category.first.product.all %}
        {% include 'components/Body/_slider_product.html' with list_objects=product.category.first.product.all|my_grouper:3 counters='23' %}
        {% endif %}
        <hr>


    </div>
</main>
{% endblock main %}

{% block script %}
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
{% endblock script %}