{% extends "base/main.html" %}

{% block title %}profile-{{title}}{% endblock title %}


{% block style %}
<style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }
</style>
{% endblock style %}

{% block main %}
<main class="mt-5 pt-4">
    <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Profile</h2>

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your Profile</span>
                </h4>
                <!-- Cart -->
                {% include "components/profile/_slide.html" %}
                <!-- Cart -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                <div class="card">

                    <!--Card content-->
                    <form class="card-body" method="POST">
                        {% csrf_token %}

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--firstName-->
                                <div class="md-form ">
                                    <label for="{{form.state_address.id_for_label}}" class="">State</label>
                                    {{ form.state_address }}
                                </div>
                                {% for error in form.state_address.errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 mb-2">

                                <!--lastName-->
                                <div class="md-form">
                                    <label for="form.city_address.id_for_label" class="">City</label>
                                    {{form.city_address}}
                                </div>
                                {% for error in form.city_address.errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6 mb-2">
                                <!--lastName-->
                                <div class="md-form">
                                    <label for="form.zip_code.id_for_label" class="">Zip</label>
                                    {{form.zip_code}}
                                </div>
                                {% for error in form.zip_code.errors %}
                                <p class="text-danger">{{error}}</p>
                                {% endfor %}

                            </div>
                            <!--Grid column-->
                            <div class="col-md-6 mb-2 my-auto">
                                <div class="form-check">
                                    {{form.default}}
                                    <label class="form-check-label" for="{{form.default.id_for_label}}">
                                        Default Address
                                    </label>
                                </div>

                            </div>
                        </div>
                        <!--address-->
                        <div class="md-form mb-5">
                            {{form.detail_address}}
                        </div>
                        {% for error in form.detail_address.errors %}
                        <p class="text-danger">{{error}}</p>
                        {% endfor %}

                        <button class="btn btn-primary btn-lg btn-block waves-effect waves-light" type="submit">Continue
                            to checkout</button>
                        {{ form.user }}
                        {{ form.address_type }}
                    </form>

                </div>
            </div>
            <!--Grid column-->


        </div>
        <!--Grid row-->

    </div>
</main>
{% endblock main %}

{% block scripts %}
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
{% endblock scripts %}