{% extends "base/main.html" %}

{% block title %}profile-{{title}}{% endblock title %}


{% block style %}
<style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    @keyframes chartjs-render-animation {
        from {
            opacity: 0.99
        }

        to {
            opacity: 1
        }
    }

    .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
    }
</style>
{% endblock style %}

{% block main %}
<main class="mt-5 pt-4 pb-5">
    <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Profile</h2>

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <!-- Heading -->
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your Profile</span>
                </h4>
                <!-- Cart -->
                {% include "components/profile/_slide.html" %}
                <!-- Cart -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                <div class="card">
                    <div class="list-group d-inline">
                        {% for ads in address %}
                        <div class="list-group-item list-group-item-action">
                            <a href="{% url 'profile:Update-Address' ads.id %}"
                                class=" ">{{ads.state_address}}/{{ads.city_address}}/{{ads.detail_address}}
                                {% if ads.default %}
                                <i class="fas fa-check-square text-success float-right fa-lg"></i>
                                {% endif %}
                            </a>
                            <a class="btn btn-danger btn-sm" href="{% url 'profile:Delete-Address' ads.id %}">remove</a>
                        </div>

                        {% endfor %}
                        <a href="{% url 'profile:Add-Address' %}"
                            class="list-group-item list-group-item-action bg-warning text-white text-center"> <i
                                class="fas fa-plus"></i> Address
                        </a>
                    </div>
                </div>

            </div>
            <!--Grid column-->


        </div>
        <!--Grid row-->

    </div>
</main>
{% endblock main %}

{% block scripts %}
<script type="text/javascript">
    // Animations initialization
    new WOW().init();
</script>
{% endblock scripts %}